
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vielen Dank!</title>
</head>
<body>
<br>
<H2>Spiel-Information:</H2>
<br/>
<p>Blaa, blaa,blaa..</p>
<br/>
<H1>Spielerdetails..</H1>
<p>Name: @ViewBag.Nachname</p>
<p>Vorname: @ViewBag.Vorname</p>
<p>Mobile: @ViewBag.Telefon</p>
<p>Email: @ViewBag.Email</p>
<p>Jahrgang: @ViewBag.Jahrgang</p>
<a href="/Home/Startseite">Startseite</a>
<a href="/Registrierung/LoadFormular">Nächster Spieler erfassen</a>
</body>
</html>
