<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

<table border="1" style="width:800px">
    <tr>
        <td colspan="2" style="text-align: center">
            <h3>Spiel - Portal</h3>
        </td>
    </tr>    
    <tr>
        <td style="width:200px">

            <ul>

                <li>@Html.ActionLink("Startseite","Startseite","Home")</li>
                <li>@Html.ActionLink("Registrierung","LoadFormular","Registrierung")</li>
                <li>@Html.ActionLink("Details","SeeSpieler","SpielerDetail")</li>
                <li>@Html.ActionLink("Spieler-Liste","SeeList","SpielerListe")</li>

            </ul>
        </td>
        <td style="width:600px">@RenderBody()</td>

    </tr>    
    <tr>
        <td colspan="2" style="text-align: center">
            <h4>©2019 Reto Abderhalden</h4>
        </td>
    </tr>
</table>
</body>
</html>
